<div class="c-homepage__footer  u-clearfix">
  <div class="c-contact-infos">
    <a href="/contact" class="c-contact-infos__link" role="tab" aria-label="Nous contacter">
      <p class="c-contact-infos__line">{{ .Site.Params.CorporateName }} - Atelier {{ .Site.Params.Address1 }} {{ .Site.Params.Address2 }}</p>
      <div class="c-contact-infos__line">
        <ul class="c-contact-infos__numbers  o-list-inline  o-list-inline--flush">
          <li class="c-contact-infos__number  o-list-inline__item">{{ .Site.Params.PhoneMobile }}</li>
          <li class="c-contact-infos__number  o-list-inline__item">{{ .Site.Params.PhoneLandline }}</li>
        </ul>
        <ul class="c-contact-infos__email  o-list-inline  o-list-inline--flush">
          <li class="c-contact-infos__email  o-list-inline__item">{{ .Site.Params.Email }}</li>
        </ul>
      </div>
      <p class="c-contact-infos__line  c-contact-infos__rcs">{{ .Site.Params.Rcs }}</p>
    </a>
  </div>
  <a href="{{ .Site.Params.Liens.RGE }}" class="c-homepage__rge" role="tab" aria-label="Infos sur le label RGE">
    <img src="/images/rge.jpg">
  </a>
</div>
