        </div>
      </div>
    </div>
    <div class="c-footer">
      <div class="o-wrapper  c-footer__wrapper">
        <div class="o-layout  c-footer__outer">
          <div class="o-layout__item  c-footer__inner">
            <a href="mailto:contact@mg-ecoconstruction.com" class="o-block  c-footer__content">
              MG Éco — Atelier route de Cenevières 46260 LIMOGNE EN QUERCY — 06 74 66 08 92 / 05 65 21 73 08<br/>
              contact@mg-ecoconstruction.com
            </a>
          </div>
        </div>
      </div>
  </div>
{{ partial "html_bottom" . }}
