<nav class="c-nav" role="navigation">
  <ul class="o-list-bare">
    <!-- TODO: loop through a $.Sites.MenuItems list, and use values from the front matters. -->
    {{ partial "menu_item" (dict "context" . "title" "Présentation" "link" "/presentation/") }}
    {{ partial "menu_item" (dict "context" . "title" "La construction bois" "link" "/concept/") }}
    {{ partial "menu_item" (dict "context" . "title" "Éthique" "link" "/ethique/") }}
    {{ partial "menu_item" (dict "context" . "title" "Photos" "link" "/galerie/") }}
    {{ partial "menu_item" (dict "context" . "title" "Conception de projet" "link" "/votre-projet/") }}
    {{ partial "menu_item" (dict "context" . "title" "Liens" "link" "/liens/") }}
    {{ partial "menu_item" (dict "context" . "title" "Contact" "link" "/contact/") }}
  </ul>
</nav>
