{{ partial "header" . }}
  <h1 class="c-main-area__title  u-h1" id="main-area-title">
    {{ if isset .Params "subtitle" }}
      <span class="c-main-area__pretitle">{{- .Title -}}</span>
      <span class="c-main-area__subtitle">{{- .Params.subtitle -}}</span>
    {{ else }}
      {{- .Title -}}
    {{ end }}
  </h1>
  <main class="c-main-content">
    {{ .Content }}

    <!-- Looping through content/liens/*.md, grouping by type -->

    <h2>Documentation et informations</h2>

    <h3>Les aides à la rénovation</h3>

    <ul class="c-reflinks  o-layout">
      {{ range where (where .Data.Pages "Section" "liens" ) ".Params.type" "=" "aides" }}
        <li class="c-reflinks__link  c-reflink  o-layout__item  u-1/1  u-1/2@tablet">
          <h2 class="c-reflink__title  u-h3">
            <a href="{{ .Params.exturl }}" class="c-reflink__exturl">
              <img src="/images/liens/{{ .Params.image }}" class="c-reflink__logo"></img><span class="c-reflink__linkname">
                {{ if not (isset .Params "hidetitle") }}
                  {{ .Title }}
                {{ end }}
              </span>
            </a>
          </h2>
          <main class="c-reflink__content">
            {{ .Content }}
            <a href="{{ .Params.exturl }}" class="c-reflink__linkhint">Se rendre sur le site</a>
          </main>
        </li>
      {{ end }}
    </ul>

    <h3>L'eau, les assainissements écologiques</h3>

    <ul class="c-reflinks  o-layout">
      {{ range where (where .Data.Pages "Section" "liens" ) ".Params.type" "=" "ecologie" }}
        <li class="c-reflinks__link  c-reflink  o-layout__item  u-1/1  u-1/2@tablet">
          <h2 class="c-reflink__title  u-h3">
            <a href="{{ .Params.exturl }}" class="c-reflink__exturl">
              {{ if isset .Params "image" }}
                <img src="/images/liens/{{ .Params.image }}" class="c-reflink__logo"></img>
              {{ end }}
              {{ if not (isset .Params "hidetitle") }}
                <span class="c-reflink__linkname">{{ .Title }}</span>
              {{ end }}
            </a>
          </h2>
          <main class="c-reflink__content">
            {{ .Content }}
            <a href="{{ .Params.exturl }}" class="c-reflink__linkhint">Se rendre sur le site</a>
          </main>
        </li>
      {{ end }}
    </ul>

    <h2>Fournisseurs</h2>

    <ul class="c-reflinks  o-layout">
      {{ range where (where .Data.Pages "Section" "liens" ) ".Params.type" "=" "fournisseur" }}
        <li class="c-reflinks__link  c-reflink  o-layout__item  u-1/1  u-1/2@tablet">
          <h2 class="c-reflink__title  u-h3">
            <a href="{{ .Params.exturl }}" class="c-reflink__exturl">
              {{ if isset .Params "image" }}
                <img src="/images/liens/{{ .Params.image }}" class="c-reflink__logo"></img>
              {{ end }}
              {{ if not (isset .Params "hidetitle") }}
                <span class="c-reflink__linkname">{{ .Title }}</span>
              {{ end }}
            </a>
          </h2>
          <main class="c-reflink__content">
            {{ .Content }}
            <a href="{{ .Params.exturl }}" class="c-reflink__linkhint">Se rendre sur le site</a>
          </main>
        </li>
      {{ end }}
    </ul>
  </main>
{{ partial "footer" . }}
