{{ partial "html_top" . }}

<div class="c-home">

  <a class="c-home__main-entrance  c-me" href="/presentation" class="c-me__image" title="{{ .Site.Data.wordings.slogans.activite }} - {{ .Site.Data.wordings.slogans.activites }}" role="img" aria-label="{{ .Site.Data.wordings.slogans.activite }} - {{ .Site.Data.wordings.slogans.activites }}">
  </a>

  <div class="c-home__extras">
    <div class="c-home__carousel  c-home-carousel">
      <p>TODO</p>
    </div>

    <a class="c-home__rge  c-home-rge" href="{{ .Site.Data.liens.rge.site_officiel }}">
      <img class="c-home-rge__logo" src='/images/rge.jpg'>
    </a>
  </div>

</div>

{{ partial "html_bottom" . }}
