.c-reflinks {
  list-style-type: none;
}


.c-reflink {
  margin-bottom: $spacing;
}


.c-reflink__exturl {
  display: inline-block;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}


.c-reflink__logo {
  max-height: 80px;
}


.c-reflink__linkname {
  padding-left: $spacing/2;
}


.c-reflink__linkhint {
  font-size: 0.8em;
  color: $green;
}


.c-reflink__content > p {
  margin-bottom: 0.25em;
}
