/* ==========================================================================
   #UI
   ========================================================================== */

// body {
//   min-height: 100vh;
// }

.o-layout__item {
  text-align: center;
}

// .c-sidebar {
//   background: blue;
// }
// .c-main-area {
  // background: red;
// }


.c-mgeco {
  position: relative;
  padding-top: $spacing;
}


.c-nav {
  margin: $spacing*2 0;
}


.c-logo {
  position: relative;
  display: block;
  height: 299px;
  color: white;
}

.c-logo__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 299px;
  width: 250px;
}


.c-sidebar__link {
  text-transform: uppercase;
  font-size: 0.85rem;

  &--active {
    color: black;
    font-weight: bold;

    &:after {
      content: '>';
      display: inline-block;
      padding-left: 0.5em;
      color: $grey;
      @include inuit-font-size($inuit-global-font-size*0.8);
    }
  }
}


.c-logo {
  margin-bottom: $spacing;
}


.c-footer__outer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.c-footer__inner {
  padding-right: $spacing;
  padding-left:  $spacing;
  margin-right: auto;
  margin-left: auto;
  max-width: $inuit-wrapper-width;
}

.c-footer__content {
  padding: $spacing/2 0;
  background: white;
}

@include mq($from: tablet) {
  .o-layout__item {
    text-align: left;
  }


  .c-mgeco {
    // Resetting inuitcss' o-wrapper's horizontal right padding, so as to stay
    // perfectly centered within the browser window.
    padding-right: 0;
  }


  .c-main-area {
    min-height: 1000px;
    padding-right: $spacing;
    padding-bottom: 200px; // to accomodate 140px footer
  }
}
