/* ==========================================================================
   # Homepage
   ========================================================================== */


.c-homepage {
  padding: $inuit-global-spacing-unit;
  background: white;
  text-align: center;
}


.c-hp-me__logo {
  /*
  Responsive Image Replacement:
  We want a responsive background image, ie. its height must match its evolving
  width. In order to lock the image's aspect ratio along the height axis, with
  respect to its current, fluid width, one may set a padding-top/bottom value,
  in percentage, equal to the image's fixed aspect ratio. The trick here lies in
  the fact that vertical padding values, when expressed in percentages, are
  always computed using the element container's *width* as the reference.
  */
  padding-top: 95.8333333333%; // 575px / 600px for bienvenue1.jpg
  width: 100%;
  height: 0;
  text-indent: -9999px;
  background-image: url('/images/bienvenue1.jpg');
  background-size: 100%;
  transition: background 0.1s ease-in-out;
}


.c-homepage__carousel {
  display: none;
}


.c-homepage__extras {
  margin: 0 auto;
  max-width: 50%;
  margin-bottom: $inuit-global-spacing-unit;
}


@include mq($from: 650px) {
  .c-homepage__main-entrance {
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }


  .c-hp-me__logo:hover {
      background-image: url('/images/bienvenue2.jpg');
  }


  .c-homepage__extras {
    max-width: 600px;
  }


  .c-homepage__carousel {
    display: inline;
  }


  .c-homepage__carousel {
    position: relative;
    float: left;
    width: 70%;
    height: 240px;
    border: 1px solid black;


    > p {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 50%;
      margin: auto;
      overflow: auto;
    }
  }


  .c-homepage__rge {
    float: right;
    width: 30%;
  }
}
