/*
Adapted from https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793
@see https://codepen.io/markcaron/pen/pPZVWO
*/


.c-nav--mobile {
  display: flex;
  align-items: baseline;
}


// For screen readers only.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.c-nav__toggle {
  display: inline-block;
  margin-right: $spacing/2;
  padding: 0.5em 10px;
  line-height: 1em;
  font-size: 1em;
  background: white;
  color: $green--light;
  border: 1px solid $green--light;
  transition: all 0.1s ease-in-out;
  outline: none;

  &:hover, &:focus {
    color: $green--dark;
    border-color: $green--dark;
    text-decoration: none;
  }
}


.c-mobile-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;

  .c-nav__items {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: $green--light;
    background-image: url('/images/oak-leaf-pattern.png');
  }

  .c-nav__item {
    background: $green;

    &:first-child a {
      border-top: 1px solid $green--dark;
    }
  }

  .c-nav__link {
    font-size: 0.9em;
    text-align: left;

    &--active {
      background: $green--dark;
    }
  }

  a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid $green--dark;

    &:hover,
    &:focus {
      background: $green--dark;
      text-decoration: none;
    }
  }

  .c-mobile-menu__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 1em;
    line-height: 2.5em;
    border: none;
    color: black;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }


  /*
  On small devices, handle toggling the menu:
  - support :target for non-JavaScript
  - support aria-expanded="true/false" for JavaScript
  */
  &:target,
  &[aria-expanded="true"] {
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }

  &:target .c-mobile-menu__close,
  &[aria-expanded="true"] .c-mobile-menu__close {
    z-index: 1001;
  }

  &:target ul,
  &[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }

  /*
   We could us `.c-mobile-menu:target:after`, but
   it wouldn't be clickable.
  */
  &:target + .backdrop,
  &[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.25);
    cursor: default;
  }
}


@supports (position: fixed) {
  .c-mobile-menu,
  .c-mobile-menu:target + .backdrop,
  .c-mobile-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}


@include mq($from: tablet) {
  .c-nav--mobile {
    display: none;
  }
}
