<div class="c-contact-us">
  <p class="c-contact-us__line  c-contact-us__owner">
    {{ .Site.Params.CorporateName }}
    <br/>
    Mathieu Thiberville
  </p>
  <p class="c-contact-us__line">
    Atelier de fabrication :
    <br/>
    32 rue des alisiers ({{ .Site.Params.Address1 }})
    <br/>
    {{ .Site.Params.Address2 }}
  </p>
  <div class="c-contact-us__line  c-contact-us__channels">
    <ul class="o-list-bare">
      <li class="c-contact-us__email">
        <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
      </li>
      <li class="c-contact-us__number">{{ .Site.Params.PhoneMobile }}</li>
      <li class="c-contact-us__number">{{ .Site.Params.PhoneLandline }}</li>
    </ul>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ContactPage",
  "url": "http://mg-ecoconstruction/contact",
  "mainEntity": {
    "@type": "HomeAndConstructionBusiness",
    "name": "{{ .Site.Params.CasualName }}",
    "image": "http://mg-ecoconstruction.com/images/logo_mg.jpg",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "44.3977773",
      "longitude": "1.7649764"
    },
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ .Site.Params.Address0 }}",
      "postalCode": "{{ .Site.Params.PostalCode }}",
      "addressLocality": "{{ .Site.Params.Locality }}",
      "addressCountry": "FR",
      "telephone": [
        "{{ .Site.Params.PhoneLandline }}",
        "{{ .Site.Params.PhoneMobile }}"
      ],
      "email": "{{ .Site.Params.Email }}",
      "availableLanguage": [
        "English",
        "French"
      ]
    },
    "telephone": "{{ .Site.Params.PhoneLandline }}",
    "hasMap": "{{ .Site.Params.MapURL }}",
    "logo": "http://mg-ecoconstruction.com/images/logo_mg.jpg",
    "brand": {
    },
    "founder": {
      "@type": "Person",
      "name": "Mathieu Thiberville"
    },
    "legalName": "{{ .Site.Params.CorporateName }}",
    "description": "{{ .Site.Params.activite }} - {{ .Site.Params.activites }}",
    "mainEntityOfPage": "{{ .Site.BaseURL }}"
  }
}
</script>
