<div class="c-contact-us">
  <p class="c-contact-us__line  c-contact-us__owner">
    {{ .Site.Params.corporateName }}
    <br/>
    {{ .Site.Params.owner }}
  </p>
  <p class="c-contact-us__line">
    Atelier de fabrication :
    <br/>
    {{ .Site.Params.address0 }} ({{ .Site.Params.address1 }})
    <br/>
    {{ .Site.Params.address2 }}
  </p>
  <div class="c-contact-us__line  c-contact-us__channels">
    <ul class="o-list-bare">
      <li class="c-contact-us__email">
        <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.email }}</a>
      </li>
      <li class="c-contact-us__number">{{ .Site.Params.phoneMobile }}</li>
      <li class="c-contact-us__number">{{ .Site.Params.phoneLandline }}</li>
    </ul>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ContactPage",
  "url": "http://mg-ecoconstruction/contact",
  "mainEntity": {
    "@type": "HomeAndConstructionBusiness",
    "name": "{{ .Site.Params.casualName }}",
    "image": "http://mg-ecoconstruction.com/images/logo_mg.jpg",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "{{ .Site.Params.gps_lat }}",
      "longitude": "{{ .Site.Params.gps_long }}"
    },
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ .Site.Params.address0 }}",
      "postalCode": "{{ .Site.Params.postalCode }}",
      "addressLocality": "{{ .Site.Params.locality }}",
      "addressCountry": "FR",
      "telephone": [
        "{{ .Site.Params.phoneLandline }}",
        "{{ .Site.Params.phoneMobile }}"
      ],
      "email": "{{ .Site.Params.email }}",
      "availableLanguage": [
        "English",
        "French"
      ]
    },
    "telephone": "{{ .Site.Params.phoneLandline }}",
    "hasMap": "{{ .Site.Params.liens.mapURL }}",
    "logo": "http://mg-ecoconstruction.com/images/logo_mg.jpg",
    "brand": {
    },
    "founder": {
      "@type": "Person",
      "name": "{{ .Site.Params.owner }}"
    },
    "legalName": "{{ .Site.Params.corporateName }}",
    "description": "{{ .Site.Params.activity }} - {{ .Site.Params.activities }}",
    "mainEntityOfPage": "{{ .Site.BaseURL }}"
  }
}
</script>
