@keyframes pulsate-border-color {
  0%  { border-color: $grey; }
  50%   { border-color: white; }
  100% { border-color: $grey; }
}


.c-gallery-category {
  margin-bottom: 4em;
}


.c-gallery-category__title {
  text-transform: uppercase;
}


.c-gallery__image {
  // Reflects generators/src/_utils/settings.js#galleryThumbnailSpacing.
  margin-bottom: 6px;


  .c-gallery__link {
    position: relative;
    display: inline-block;
  }


  .c-gallery__loader,
  .c-gallery__caption {
    position: absolute;
  }


  .c-gallery__thumbnail {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }


  .c-gallery__loader {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3px;
    border-width: 1px;
    border-style: dashed;
    animation: pulsate-border-color 2s infinite;
  }


  .c-gallery__caption {
    opacity: 0;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background: white;
    text-align: center;
    background: white;
    background: rgba(255, 255, 255, 0.6);
    transition: $global-transition;

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      color: black;
      word-break: break-word;
    }
  }


  // Styles applied upon loading an image.
  &.c-gallery__image--loading {
    .c-gallery__loader {
      opacity: 1;
    }
  }


  // Styles applied upon revealing an image.
  &.c-gallery__image--loaded {
    .c-gallery__thumbnail {
      opacity: 1;
    }
  }


  &:hover {
    .c-gallery__caption {
      opacity: 1;
    }
  }
}
