.c-reflinks-type__title {
  border-bottom: 1px solid $grey;
}


.c-reflinks-type__items {
  list-style-type: none;
  margin: 0;
}


.c-reflink {
  margin-bottom: $spacing;
}


.c-reflink__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $spacing/2;
}


.c-reflink__logo {
  max-height: 80px;
  margin-right: $spacing/2;
}


.c-reflink__exturl {
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}


.c-reflink__linkname {
  padding-left: $spacing/2;
}


.c-reflink__linkhint {
  font-size: 0.8em;
  color: $green;
}


.c-reflink__content > p {
  margin-bottom: 0.25em;
}


@include mq($from: tablet) {
  .c-reflinks-type__items {
    display: grid;
    grid-template-columns: 33.3333% 1fr 1fr;
  }

  .c-reflinks-type__item:nth-child(3n-2) {
    padding-right: $spacing;
  }

  .c-reflinks-type__item:nth-child(3n-1) {
    padding: 0 $spacing;
  }

  .c-reflinks-type__item:nth-child(3n) {
    padding-left: $spacing;
  }

  .c-reflink__title {
    justify-content: center;
    min-height: 100px;
    margin-bottom: 0;
  }

  .c-reflink__exturl {
    flex-grow: initial;
  }
}
