/* ==========================================================================
   # Navigation
   ========================================================================== */



.c-nav {
  &.c-nav--desktop {
    display: none;
  }


  .c-nav__item {
    &--active,
    &--active:hover {
      .c-nav__link {
        background: $green--dark;
        font-weight: bold;
      }
    }
  }


  .c-nav__link {
    text-transform: uppercase;
    font-size: 1.2em;
    color: $grey--dark;
    transition: color 0.1s;

    &:hover {
      text-decoration: none;
    }
  }
}


@include mq($from: tablet) {
  .c-nav.c-nav--desktop {
    display: block;
    margin: $spacing 0;
    padding: $spacing 0;
    border-top: 1px solid $grey--light;
    border-bottom: 1px solid $grey--light;


    .c-nav__items {
      margin: 0;
    }


    .c-nav__item,
    .c-nav__link {
      margin: 0;
    }

    .c-nav__item {
      list-style: none;

      &::before {
        content: "•";
        color: white;
        display: inline-block;
        vertical-align: text-top;
        text-indent: -$spacing/2;
        transition: color 0.1s;
      }

      &:hover {
        &::before {
          color: black;
        }

        .c-nav__link {
          color: black;
        }
      }

      &--active,
      &--active:hover {
        .c-nav__link {
          background: transparent;
          font-weight: initial;
          color: $green;
        }
      }

      &--active {
        &::before {
          color: $green;
        }
      }
    }


    .c-nav__link {
      display: inline-block;
      padding: 0.15em 0;
      margin-left: $spacing/2;
      text-indent: -$spacing/2;
    }
  }
}
