@keyframes pulsate-opacity {
  0%  { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}


.c-gallery-category {
  margin-bottom: 4em;

  &--loading {
    .c-gallery-category__images::after {
      content: "...";
      color: black;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      color: $grey--dark;
      animation: pulsate-opacity 1s infinite;
    }
  }
}


.c-gallery-category__title {
  text-transform: uppercase;
}


.c-gallery-category__description {
  dt {
    float: left;
    margin-right: 0.25em;
    font-weight: bold;

    &::after {
      content: " :";
    }
  }

  dd, ul {
    margin-left: 0;
  }

  li {
    list-style-type: none;
  }
}


.c-gallery-category__images {
  position: relative;
  margin-top: $spacing;
}


.c-gallery__image {
  visibility: hidden;
  // Reflects generators/src/_utils/settings.js#galleryThumbnailSpacing.
  margin-bottom: 6px;


  .c-gallery__link {
    position: relative;
    display: inline-block;
  }


  .c-gallery__caption {
    position: absolute;
  }


  .c-gallery__thumbnail {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }


  .c-gallery__caption {
    opacity: 0;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background: white;
    text-align: center;
    background: white;
    background: rgba(255, 255, 255, 0.6);
    transition: $global-transition;

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      color: black;
      word-break: break-word;
    }
  }


  // Styles applied upon revealing an image.
  &.c-gallery__image--loaded {
    visibility: initial;

    .c-gallery__thumbnail {
      opacity: 1;
    }
  }


  &:hover {
    .c-gallery__caption {
      opacity: 1;
    }
  }
}
