/* ==========================================================================
   # Navigation
   ========================================================================== */



.c-nav {
  &.c-nav--desktop {
    display: none;
  }


  .c-nav__item {
    &--active,
    &--active:hover {
      .c-nav__link {
        background: $green--dark;
        font-weight: bold;
      }
    }
  }


  .c-nav__link {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    color: $grey--dark;
    transition: color 0.1s;

    &:hover {
      text-decoration: none;
    }
  }
}


@include mq($from: tablet) {
  .c-nav.c-nav--desktop {
    display: block;
    margin: $spacing 0;


    .c-nav__items {
      margin: 0;
    }


    .c-nav__item,
    .c-nav__link {
      margin: 0;
    }

    .c-nav__item {
      list-style: none;

      &:hover {
        .c-nav__link {
          color: black;
          border-color: $grey--light;
        }
      }

      &--active,
      &--active:hover {
        .c-nav__link {
          background: transparent;
          font-weight: initial;
          color: $green;
          border-color: $grey--light;
        }
      }
    }


    .c-nav__link {
      display: inline-block;
      width: 100%;
      padding: 0.35em 0 0.1em 0;
      color: black;
      border-bottom: 1px solid white;
    }
  }
}
