{{ partial "header" . }}
  <h1 class="c-main-area__title  u-h1" id="main-area-title">
    {{ if isset .Params "subtitle" }}
      <span class="c-main-area__pretitle">{{- .Title -}}</span>
      <span class="c-main-area__subtitle">{{- .Params.subtitle -}}</span>
    {{ else }}
      {{- .Title -}}
    {{ end }}
  </h1>
  <main class="c-main-content  c-reflinks">
    {{ .Content }}
    {{ range $linksType := .Site.Params.linksTypes }}
      <div class="c-reflinks__type">
        <h2 class="c-reflinks-type__title">{{ $linksType.title }}</h2>
        {{ if isset $linksType "description" }}
          <p class="c-reflinks-type__description">{{ $linksType.description }}</p>
        {{ end }}
        <ul class="c-reflinks-type__items">
          {{ range where (where $.Data.Pages "Section" "liens" ) ".Params.type" "=" $linksType.type }}
            <li class="c-reflinks-type__item  c-reflink">
              <a href="{{ .Params.exturl }}" class="c-reflink__title  u-h3">
                {{ if isset .Params "image" }}
                  <img src="/images/liens/{{ .Params.image }}" class="c-reflink__logo">
                {{ end }}
                {{ if not (isset .Params "hidetitle") }}
                  <h3 class="c-reflink__exturl">
                    {{ .Title }}
                  </h3>
                {{ end }}
              </a>
              <div class="c-reflink__content">
                <p>
                  {{ .Content }}
                  <a href="{{ .Params.exturl }}" class="c-reflink__linkhint">Se rendre sur le site</a>
                </p>
              </div>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </main>
{{ partial "footer" . }}
