<div class="c-homepage__footer  u-clearfix">
  <div class="c-contact-infos">
    <a href="/contact" class="c-contact-infos__link" role="tab" aria-label="Nous contacter">
      <p class="c-contact-infos__line">{{ .Site.Params.corporateName }} - Atelier {{ .Site.Params.address1 }}<br/>{{ .Site.Params.address2 }}</p>
      <div class="c-contact-infos__line">
        <ul class="c-contact-infos__numbers  o-list-inline  o-list-inline--flush">
          <li class="c-contact-infos__number  o-list-inline__item">{{ .Site.Params.phoneMobile }}</li>
          <li class="c-contact-infos__number  o-list-inline__item">{{ .Site.Params.phoneLandline }}</li>
        </ul>
        <ul class="c-contact-infos__email  o-list-inline  o-list-inline--flush">
          <li class="c-contact-infos__email  o-list-inline__item">{{ .Site.Params.email }}</li>
        </ul>
      </div>
      <p class="c-contact-infos__line  c-contact-infos__rcs">RCS CAHORS : {{ .Site.Params.rcs }}</p>
    </a>
  </div>
  <img src="/images/rge.jpg" class="c-homepage__rge" role="tab" aria-label="Label RGE">
</div>
