<ul class="c-legal-mentions  o-list-bare">
  <li class="o-list-bare__item">{{ .Site.Params.casualName | upper }}</li>
  <li class="o-list-bare__item">{{ .Site.Params.corporateType }} au capital de 10 000€</li>
  <li class="o-list-bare__item">RCS CAHORS : <a href="https://www.infogreffe.fr/entreprise-societe/538164120-mg-eco-460111B003830000.html?typeProduitOnglet=EXTRAIT&afficherretour=false">{{ .Site.Params.rcs }}</a></li>
  <li class="o-list-bare__item">SIRET : {{ .Site.Params.siret }}</li>
  <li class="o-list-bare__item">Code APE : {{ .Site.Params.ape }}</li>
  <li class="o-list-bare__item">N° TVA INTRACOM : {{ .Site.Params.tva }}</li>
</ul>
